body {
    background-color: aquamarine;
}

.background {
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    padding: 20px 50px;
    position: absolute;
    left: 30%;
    top: 25%;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.display {
    width: 100px;
    height: 100px;
    background-color: lightsteelblue;
    padding: 20px 50px;
    position: absolute;
    left: 30%;
    top: 25%;
    /*box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);*/
    border-radius: 10px;
    text-align: center;
    color: white;
}

#submit {
    background-color: white;
    border-radius: 100px;
    border-color: gray;
    
}

#result {
    width: 100px;
    height: 30px;
    background-color: lightsteelblue;
    padding: 20px 50px;
    position: absolute;
    left: 30%;
    top: 63%;
    border-radius: 10px;
    text-align: center;
    color: white;
}

input {
    border: 2px solid lightgray;
    border-radius: 5px;
}
input:focus {
    border-color: blue;
}

#hangmanpic1 {
    height: 300px; 
    width: 300px; 
    max-width: 300px; 
    max-height: 300px;
}
